% Copy one of this examples into the modules section of your
% ejabberd.cfg configuration file and edit it to fit your needs
{mod_log_chat_mysql5, [{server, "YOURSERVER"}, {db, "YOURDB"}, {user, "YOURUSER"}, {password, "YOURPASSWORD"}, {pool_size, 1}, {encoding, utf8}]},
